<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Promociones</title>
    </head>
    <body>
        <section th:fragment="promociones" class="py-4 mb-4 bg-light">
            <div class="contenedor-carrusel">
                <h2>PROMOCIONES</h2>
                <div class="carrusel">
                    <div class="item-carrusel">
                        <img src="/imagencarrusel1.jpeg">
                        <div class="texto-carrusel">
                            <h3>¿Necesitas un auto sustituto mientras reparamos el tuyo?</h3>
                            <h4>INNOVACIÓN TECMAVE X Enterprise Rent-a-Car</h4>
                            <p>Te conseguimos el mejor precio.</p>
                        </div>
                    </div>
                    <div class="item-carrusel">
                        <img src="/imagencarrusel2.jpeg">
                        <div class="texto-carrusel">
                            <h3>Obtén un escaneo de motor completamente gratis</h3>
                            <h4>INNOVACIÓN TECMAVE</h4>
                            <p>Solamente debes seguirnos en Facebook.</p>
                        </div>
                    </div>
                    <div class="item-carrusel">
                        <img src="/imagencarrusel3.jpeg">
                        <div class="texto-carrusel">
                            <h3>Te regalamos un análisis de gases para que pases Dekra</h3>
                            <h4>INNOVACIÓN TECMAVE</h4>
                            <p>Promoción válida por la compra de un escaneo.</p>
                        </div>
                    </div>
                </div>
                <div class="indicadores-carrusel">
                    <span class="indicador activo" onclick="mostrarDiapositiva(0)"></span>
                    <span class="indicador" onclick="mostrarDiapositiva(1)"></span>
                    <span class="indicador" onclick="mostrarDiapositiva(2)"></span>
                </div>
            </div>
        </section>

        
    </body>
</html>