<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Promociones</title>
    </head>
    <body>
        <section th:fragment="promociones" class="py-4 mb-4 bg-light">
            <div class="contenedor-carrusel">
                <h2>[[#{promocion.titulo}]]</h2>
                <div class="carrusel">
                    <div class="item-carrusel">
                        <img src="/imagencarrusel1.jpeg">
                        <div class="texto-carrusel">
                            <h3>[[#{promocion.t11}]]</h3>
                            <h4>[[#{promocion.t21}]]</h4>
                            <p>[[#{promocion.p1}]]</p>
                        </div>
                    </div>
                    <div class="item-carrusel">
                        <img src="/imagencarrusel2.jpeg">
                        <div class="texto-carrusel">
                            <h3>[[#{promocion.t12}]]</h3>
                            <h4>[[#{promocion.t22}]]</h4>
                            <p>[[#{promocion.p2}]]</p>
                        </div>
                    </div>
                    <div class="item-carrusel">
                        <img src="/imagencarrusel3.jpeg">
                        <div class="texto-carrusel">
                            <h3>[[#{promocion.t13}]]</h3>
                            <h4>[[#{promocion.t23}]]</h4>
                            <p>[[#{promocion.p3}]]</p>
                        </div>
                    </div>
                </div>
                <div class="indicadores-carrusel">
                    <span class="indicador activo" onclick="mostrarDiapositiva(0)"></span>
                    <span class="indicador" onclick="mostrarDiapositiva(1)"></span>
                    <span class="indicador" onclick="mostrarDiapositiva(2)"></span>
                </div>
            </div>
        </section>

        
    </body>
</html>