<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
       <section th:fragment="informacion" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="main-content">
                    <h2>[[#{nosotros.titulo}]]</h2>
                    <p>[[#{nosotros.parrafo}]]</p>
                </div>
            </div>
       </section>
    </body>
</html>
