
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <section th:fragment="ubicacion" class="py-4 mb-4 bg-light">
        <div th:style="'width: 80%; margin: 0 auto; padding: 20px; margin-top: 20px; display: flex; align-items: flex-start;'">
        <div th:style="'flex: 1; padding-right: 20px;'">
            <h2>San José, Guadalupe</h2>
            <p>Contiguo al Pali del Alto de Guadalupe Local #16, Guadalupe, Costa Rica</p>
            <p>Encuéntranos en Waze como <strong>Tecmave</strong>!</p>
            <p><strong>Horario:</strong></p>
            <ul>
                <li>Lunes a Sábado: 9:30 - 6:00pm</li>
                <li>Domingo: Cerrado</li>
            </ul>
        </div>
        <div th:style="'flex: 1; text-align: right;'">
            <img src="../../static/ubicacion.jpeg" alt=""/>
        </div>
    </div>
    </section>
    </body>
</html>
