<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cotizacion</title>
    </head>
    <body>
        <section th:fragment="formulario" class="py-4 mb-4 bg-light">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSduWDqHhxhtt-JXTZi2aK_v8LWCirrXlakbyvyVftSvouWcIg/viewform?embedded=true"  width="640" 
            height="1554" 
            frameborder="0" 
            marginheight="0" 
            marginwidth="0" 
            style="display: block; margin: 0 auto;">>Cargando…</iframe>
        </section>
    </body>
</html>
