
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <body>
        
        <section th:fragment="servicios" class="py-4 mb-4 bg-light">
            <div th:style="'width: 80%; margin: 0 auto; padding: 20px; margin-top: 20px;'">
        <h2>[[#{servicios.titulo}]]</h2>
        <p>[[#{servicios.parrafo1}]]</p>
        <p>[[#{servicios.parrafo2}]]</p>
        
        <div th:style="'display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; margin-top: 20px;'">
            <!-- Servicio 1 -->
            <div th:style="'flex: 0 1 calc(33.33% - 20px); text-align: center;'">
                <img src="/cambioLlantas.jpeg" alt="Cambio de Llantas" th:style="'width: 100%; max-width: 150px; height: auto; object-fit: cover;'"/>
                <div th:style="'padding: 10px;'">
                    <h3>[[#{servicios.llantas}]]</h3>
                </div>
            </div>

            <!-- Servicio 2 -->
            <div th:style="'flex: 0 1 calc(33.33% - 20px); text-align: center;'">
                <img src="/cambioBateria.jpeg" alt="Cambio de Batería" th:style="'width: 100%; max-width: 150px; height: auto; object-fit: cover;'"/>
                <div th:style="'padding: 10px;'">
                    <h3>[[#{servicios.bateria}]]</h3>
                </div>
            </div>

            <!-- Servicio 3 -->
            <div th:style="'flex: 0 1 calc(33.33% - 20px); text-align: center;'">
                <img src="/mecanicaRapida.jpeg" alt="Mecánica Rápida" th:style="'width: 100%; max-width: 150px; height: auto; object-fit: cover;'"/>
                <div th:style="'padding: 10px;'">
                    <h3>[[#{servicios.mrapida}]]</h3>
                </div>
            </div>

            <!-- Servicio 4 -->
            <div th:style="'flex: 0 1 calc(50% - 20px); text-align: center; margin-top: 20px;'">
                <img src="/escaneoEstandar.jpeg" alt="Escaneo de Motor" th:style="'width: 100%; max-width: 150px; height: auto; object-fit: cover;'"/>
                <div th:style="'padding: 10px;'">
                    <h3>[[#{servicios.escaneo}]]</h3>
                </div>
            </div>

            <!-- Servicio 5 -->
            <div th:style="'flex: 0 1 calc(50% - 20px); text-align: center; margin-top: 20px;'">
                <img src="/cambioAceite.jpeg" alt="Cambio de Aceite" th:style="'width: 100%; max-width: 150px; height: auto; object-fit: cover;'"/>
                <div th:style="'padding: 10px;'">
                    <h3>[[#{servicios.aceite}]]</h3>
                </div>
            </div>
        </div>
    </div>
        </section>
    </body>
</html>
